{% extends "home.html" %}


{% load static %}


{% block contenido %}

<h3 style="color: rgb(255, 255, 255);"> Complete el siguiente formulario. Una vez enviado con todos los datos correctamente se aplicaran los cambios. </h3>

<form action="" method="POST">
    {% csrf_token %}

    
    <table style="color: coral; margin-left: 190px ;" >
        {{ formulario_edicion.as_table }}
    </table>
    <input type= "submit" value="Aplicar Cambios" class="btn btn-primary btn-xs">
    

</form>
    <a href="home">
        <button class="btn btn-primary btn-xs" style="margin-top:10px ;">Cancelar</button>
    </a>

{% endblock %}