{% extends "home.html" %}


{% load static %}


{% block contenido %}


<h2 style="color:rgb(255, 255, 255) ; background-color: green; border-radius: 18px; padding-left: 5px; padding-right: 5px; "> Si experimentas problemas con la pagina no dudes en contactarte: </h2>
<form action="formulario_contacto" method="POST">
    {% csrf_token %}

    <h3 style="color:coral;">Usuario:</h3><input type="text" name="usuario">
    <h3 style="color:coral">Email:</h3><input type="text" name="email">
    <h3 style="color:coral">Razon del contacto:</h3><textarea name="razon_contacto" id="" cols="30" rows="5"></textarea>
    <div style="text-align: center;"></div>
    <button class="btn btn-primary btn-xs">Enviar</button>



</form>
</div>
{% endblock %}